<!DOCTYPE html>
<html >
<head>
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="forgot-password.component.css">
</head>
<body>
    <div class="forgotpass">
        <div class="title">
            Forgot your password?
        </div>
        <div class="form">
            <p class="font">Enter your user account's verified email address and we will send you a password reset link.</p>
            <div class="inputField">
                <input type="text" placeholder="Email" id="email" class="input">
            </div>
            <div class="btn">
                <input type="submit" value="Send password reset email" class="btn_sign">
            </div>
        </div>
        
    </div>
    
</body>
</html>