*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    height: 100vh;
    margin: 0%;
    padding: 0%;
    min-height: 100%;
}

.registerForm{
    max-width: 300px;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    padding: 30px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 2px solid #6d6b6b;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
}

.registerForm .title{
    margin-bottom: 11px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: rgb(63, 61, 61);
}

.registerForm .formField .input-style .input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5da;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    background: rgb(243, 240, 240);
    color: black;
    margin-top: 20px;
    
}

.registerForm .formField .input-style .instruction{
    font-size: 9px;
    margin-top: 9px;
    margin-left: 7px;
    color:  rgb(63, 61, 61);
}

.registerForm .formField .btn{
    width: 90%;
    margin: 20px auto 0;
    background:  rgb(0, 139, 0);
    padding: 12px;
    text-align: center;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 13px;
}

.registerForm .formField .btn .btn_sign{
    background: rgb(0, 139, 0);
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 0%;
    
}

.registerForm .formField .instru { 
    font-size: 15px;
    display: inline;
    position: absolute;
    text-align: right;
    left: 100px;
    color: rgb(63, 61, 61);
}

.registerForm .formField a{
    display: inline;
    margin-left: 7px;
    position: absolute;
    text-align: right;
    left: 190px;
}